@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Check em out!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Temple Tours in Ogden</a>.</p>
</div>


