@{
    ViewData["Title"] = "Home - Layton UT Temple";
}

<div class="text-center">
    <h1 class="display-4">Layton Utah Temple</h1>
    <p>Schedule a tour <a class="nav-link text-dark" asp-controller="Home" asp-action="Create">here</a>.</p>
</div>

<div>
    <h5>*Currently under construction. Estimated to be completed in early 2023</h5>
    <img src="~/img/layton-utah-temple-6932-main.jpg" />
</div>