@{
}

<h1>Temple Appointment Times</h1>

@{
    ViewData["Title"] = "SignUpTime";
}

@model List<Available>

<h4>Here is list of availablee times. Select one that works for you.</h4>
<br />

<div class="row">

    @*This is for the UPCOMING appointments table*@
    <div class="col center">
        <h4 class="quadrant">Available</h4>
        <br />
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr>
                    <td>Time</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    @*if (x.Completed == false)*@
                    {
                        <tr>
                            <td>@x.Date</td>
                            <td class="text-center">
                                <form method="get" asp-action="Create">
                                    <input type="hidden" name="a" value="@x.DateID" />
                                    <button type="submit" class="btn btn-sm ">Select</button>
                                </form>
                            </td>
                            
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<br />
<br />
